th,
td {
    white-space: nowrap;
}

/* Max width for Track, Arists and Album Name */
td:nth-child(2),
th:nth-child(2),
td:nth-child(3),
th:nth-child(3),
td:nth-child(4),
th:nth-child(4) {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis; /* Display ellipsis (...) for overflow text */
}

/* Max width for Genres */
td:nth-child(5),
th:nth-child(5),
td:nth-child(5),
th:nth-child(5) {
    min-width: 380px;
    max-width: 380px;
    white-space: normal;
}

/* Default styling for the badge */
.genre.badge.rounded-pill.text-bg-warning {
    background-color: #ffc107; /* Set the default background color */
    color: #212529; /* Set the default text color */
    margin-right: 4px;
}

/* Styling for the badge on hover */
.genre.badge.rounded-pill.text-bg-warning:hover {
    background-color: #105cff !important; /* Set the background color on hover */
    color: #212529 !important; /* Set the text color on hover (you can adjust this as needed) */
    box-shadow: #212529 0px 4px !important;
}

.playlist-icon {
    width: 100%;
    transform: scale(1.5, 1);
    color: rgb(0, 195, 0);
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: rgb(240, 240, 240);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
        var(--bs-accordion-border-color);
}

.accordion-button:focus {
    z-index: 3;
    border-color: none;
    outline: 0;
    box-shadow: none;
}

td a {
    color: white;
}

a:link {
    text-decoration: none;
}
