{% from 'macros.html' import playlist_tracks_table %}
{% extends 'base.html' %} 
{% block title %}{{ genre_title.title() }} Inspector{% endblock %} 
{% block content %}

    <div class="container">
        <div class="row align-items-center mt-4 mb-4">
            <div class="col-3">
                {% if playlist.images %}
                <img class="playlist-img img-responsive" width="100%" src="{{playlist.images[0].url}}" alt="Image (usualy album art) for the playlist">
                {% endif %}
            </div>
            <div class="col-9">
                <div class="row">
                    <h1 class="display-4">{{ playlist.name }}</h1>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="{{playlist_link}}" target="_blank"><button type="button" class="btn btn-primary mb-2">Open Playlist <i class="fa-solid fa-arrow-up-right-from-square"></i></button></a>
                        {% if source == 'spotify' %}
                            <a href="/genre-inspector/{{ genre_title }}?source=thesoundsofspotify"><button type="button" class="btn btn-warning mb-2">Try EveryNoise's {{ genre_title.title() }} Playlist <i class="fa-solid fa-arrows-rotate"></i></button></a>
                        {% elif source == 'thesoundsofspotify'%}
                            <a href="/genre-inspector/{{ genre_title }}?source=spotify"><button type="button" class="btn btn-warning mb-2">Try Spotify's {{ genre_title.title() }} Playlist <i class="fa-solid fa-arrows-rotate"></i></button></a>
                        {% endif %}
                    </div>
                </div>
            </div> 
        </div>
        {% if g.user %}
        <div class="card">
            <caption>{{ genre_title.title() }}:
            <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
                <input type="radio" class="btn-check" name="btn-favorite-status" id="btn-favorite" autocomplete="off" 
                    {% if favorite_status == 'favorite '%}
                    checked
                    {% endif %}>
                <label class="btn btn-outline-success" for="btn-favorite">Favorite</label>

                <input type="radio" class="btn-check" name="btn-favorite-status" id="btn-like" autocomplete="off"
                    {% if favorite_status == 'like '%}
                    checked
                    {% endif %}>
                <label class="btn btn-outline-primary" for="btn-like">Like</label>

                <input type="radio" class="btn-check" name="btn-favorite-status" id="btn-dislike" autocomplete="off"
                    {% if favorite_status == 'dislike '%}
                    checked
                    {% endif %}>
                <label class="btn btn-outline-danger" for="btn-dislike">Dislike</label>
            </div>
            <div><b>Last Viewed: </b>{{ last_viewed }}</div>
        </div>
        {% endif %}
            
        {{ playlist_tracks_table(playlist.id) }}

    </div>

{% endblock %}