{% extends 'base.html' %} 
{% block title %}Playlist Inspector{% endblock %} 
{% block content %}

<div class="container">
    <h1>Playlist Inspector</h1>
    <caption>Welcome to the playlist inspector. I will help you view and discover information about Spotify playlists.</caption>

    <h2>Submit a Playlist</h2>
    <form action="/get-playlist">
        <div class="mb-3">
            <label for="playlistLink" class="form-label">Playlist Link</label>
            <input type="text" class="form-control" id="playlistLink" name="playlistLink" placeholder="Example: https://open.spotify.com/playlist/37i9dQZF1EIgtiaACXv6tQ">
            <div id="playlistLink" class="form-text">Copy the link to the playlist (... > share > copy link) and paste here.</div>
        </div>
        <button type="submit" class="btn btn-primary">Inspect!</button>
    </form>
    
</div>

{% endblock %}