{% extends 'base.html' %} 
{% block title %}Playlist Inspector{% endblock %} 
{% block content %}

<div class="container">
    <div class="row justify-content-md-center mt-1">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <h1 class="mt-5">Playlist Inspector</h1>
            <p class="lead">The playlist inspector lets you view and discover genres and other hidden track information.</p>
        </div>
    </div>
    
    <div class="row justify-content-md-center mt-1">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h3>Inspect a Playlist</h3>
                    <form action="/get-playlist">
                        <div class="mb-3">
                            <label for="playlistLink" class="form-label">Playlist Link</label>
                            <input type="text" class="form-control" id="playlistLink" name="playlistLink" placeholder="Example: https://open.spotify.com/playlist/37i9dQZF1EIgtiaACXv6tQ">
                            <div id="playlistLink" class="form-text">Copy the link to a *public* playlist and paste here.</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Inspect!</button>
                    </form>
                </div>
            </div>
            <div>
                <h4 class="mt-3">Examples</h4>
                <p>Want to see it in action? Click one of the playlists below.</p>
                <div class="list-group mb-5">
                    <div class="list-group-item list-group-item-action">
                        <a href="/playlist-inspector/5pGJHs1M5WyDJTyepCMgvS"><h5 class="link-dark mb-1">6/8 Soul</h5></a>
                        <a href="/genre-inspector/soul?source=spotify"><span class="genre badge rounded-pill text-bg-warning mr-1">soul</span></a>
                        <a href="/genre-inspector/motown?source=spotify"><span class="genre badge rounded-pill text-bg-warning mr-1">motown</span></a>
                        <a href="/genre-inspector/neo soul?source=spotify"><span class="genre badge rounded-pill text-bg-warning mr-1">neo soul</span></a>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <a href="/playlist-inspector/1P1Cbac6mBwpKp33I42jRE"><h5 class="link-dark mb-1">Yacht Club</h5></a>
                        <a href="/genre-inspector/yacht rock?source=spotify"><span class="genre badge rounded-pill text-bg-warning mr-1">yacht rock</span></a>
                        <a href="/genre-inspector/mellow gold?source=spotify"><span class="genre badge rounded-pill text-bg-warning mr-1">mellow gold</span></a>
                        <a href="/genre-inspector/classic city pop?source=spotify"><span class="genre badge rounded-pill text-bg-warning mr-1">classic city pop</span></a>
                    </div>
                    <div class="list-group-item list-group-item-action">
                        <a href="/playlist-inspector/4mrOsA6S5R3pvJF3A0ijjU"><h5 class="link-dark mb-1">YES POST DHISCO</h5></a>
                        <a href="/genre-inspector/post-disco?source=spotify"><span class="genre badge rounded-pill text-bg-warning mr-1">post-disco</span></a>
                        <a href="/genre-inspector/urban contemporary?source=spotify"><span class="genre badge rounded-pill text-bg-warning mr-1">urban contemporary</span></a>
                        <a href="/genre-inspector/classic soul?source=spotify"><span class="genre badge rounded-pill text-bg-warning mr-1">classic soul</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}