{% extends 'base.html' %} 
{% block title %}Playlist Inspector{% endblock %} 
{% block content %}

<div class="container">
    <div class="row justify-content-md-center mt-1">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <h1 class="mt-5">Playlist Inspector</h1>
            <p class="lead">The playlist inspector lets you view and discover genres and other hidden track information.</p>
        </div>
    </div>
    
    <div class="row justify-content-md-center mt-1">
        <div class="col-md-10 col-lg-8 col-xl-6">
            <div class="card">
                <div class="card-body">
                    <h3>Inspect a Playlist</h3>
                    <form action="/get-playlist">
                        <div class="mb-3">
                            <label for="playlistLink" class="form-label">Playlist Link</label>
                            <input type="text" class="form-control" id="playlistLink" name="playlistLink" placeholder="Example: https://open.spotify.com/playlist/37i9dQZF1EIgtiaACXv6tQ">
                            <div id="playlistLink" class="form-text">Copy the link to a *public* playlist and paste here.</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Inspect!</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    
    
</div>

{% endblock %}