{# Define the playlist tracks table macro #}
{% macro playlist_tracks_table(playlist_id) %}
    <div class="table-responsive">
        <table id="playlist-table"
               class="table table-dark table-hover"
               data-toggle="table"
               data-pagination="true"
               data-side-pagination="client"
               data-url="/get-playlist-tracks/{{ playlist_id }}"  
               data-cache="true"
               data-search="true"
               data-pagination-parts = "['pageInfo', 'pageList']"
               data-page-size="50"
               data-loading-template="loadingTemplate">
            <thead>
                <tr>
                <th scope="col" data-field="preview_url" data-formatter="trackPreviewFormatter">Preview</th>
                <th scope="col" data-sortable="true" data-field="name">Track</th>
                <th scope="col" data-sortable="true" data-field="artist_name">Artist</th>
                <th scope="col" data-sortable="true" data-field="album">Album</th>
                <th scope="col" data-field="artist_genres" data-formatter="artistGenresFormatter">Artist Genres</th>
                <th scope="col" data-sortable="true" data-field="duration">Duration</th>
                <th scope="col" data-sortable="true" data-field="tempo">Tempo</th>
                <th scope="col" data-sortable="true" data-field="popularity">Track Popularity</th>
                <th scope="col" data-sortable="true" data-field="artist_popularity">Artist Popularity</th>
                <th scope="col" data-sortable="true" data-field="artist_followers">Artist Followers</th>
                <th scope="col" data-sortable="true" data-field="danceability">Danceability</th>
                <th scope="col" data-sortable="true" data-field="energy">Energy</th>
                <th scope="col" data-sortable="true" data-field="positivity">Positivity</th>
                <th scope="col" data-sortable="true" data-field="acousticness">Acoustic?</th>
                <th scope="col" data-sortable="true" data-field="instrumentalness">Instrumental?</th>
                </tr>
            </thead>
        </table>
        
        <!-- Audio element for playback -->
        <audio id="audioPlayer" controls style="display: none;">
            Your browser does not support the audio element.
        </audio>
    </div>
{% endmacro %}