{# Define the playlist tracks table macro #}
{% macro playlist_tracks_table(tracks) %}
    <div class="table-responsive">
        <table class="table table-dark table-hover"
               data-toggle="table"
               data-pagination="true"
               data-search="true">
            <thead>
                <tr>
                <th scope="col" data-field="id">Preview</th>
                <th scope="col" data-sortable="true" data-field="track">Track</th>
                <th scope="col" data-sortable="true" data-field="artist">Artist</th>
                <th scope="col" data-sortable="true" data-field="album">Album</th>
                <th scope="col" data-field="genres">Artist Genres</th>
                <th scope="col" data-sortable="true" data-field="duration">Duration</th>
                <th scope="col" data-sortable="true" data-field="tempo">Tempo</th>
                <th scope="col" data-sortable="true" data-field="t-popularity">Track Popularity</th>
                <th scope="col" data-sortable="true" data-field="a-popularity">Artist Popularity</th>
                <th scope="col" data-sortable="true" data-field="followers">Artist Followers</th>
                <th scope="col" data-sortable="true" data-field="dance-val">Danceability</th>
                <th scope="col" data-sortable="true" data-field="engery-val">Energy</th>
                <th scope="col" data-sortable="true" data-field="pos-val">Positivity</th>
                <th scope="col" data-sortable="true" data-field="acoust-val">Acoustic?</th>
                <th scope="col" data-sortable="true" data-field="instr-val">Instrumental?</th>
                </tr>
            </thead>
            <tbody>
            
            {% for track in tracks %}
            <tr> 
                <td>
                    {% if track.preview_url %}
                    <button type="button" class="btn btn-success" onclick="playPreview('{{track.preview_url}}', this)">
                      <i class="fa-regular fa-circle-play"></i>  
                    </button>
                    {% endif %}
                </td>
                <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{ track.name }}">{{ track.name }}</td>
                <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{ track.artists[0].name }}">{{ track.artists[0].name }}</td>
                <td data-bs-toggle="tooltip" data-bs-placement="top" title="{{ track.album.name }}">{{ track.album.name }}</td>
                <td>
                    {% for genre in track.artist_genres %} 
                    <a href="/genre-inspector/{{ genre }}?source=spotify"><span class="genre badge rounded-pill text-bg-warning">{{ genre }}</span></a>
                    {% endfor %}
                </td>
                <td>{{ track.duration }} </td>
                <td>{{ track.tempo }} </td>
                <td>{{ track.popularity }} </td>
                <td>{{ track.artist_popularity }} </td>
                <td>{{ track.artist_followers }} </td>
                <td>{{ track.danceability }} </td>
                <td>{{ track.energy }} </td>
                <td>{{ track.acousticness }} </td>
                <td>{{ track.instrumentalness }} </td>
                <td>{{ track.positivity }} </td>            
            </tr>
            {% endfor %}
            </tbody>
        </table>
        
        <!-- Audio element for playback -->
        <audio id="audioPlayer" controls style="display: none;">
            Your browser does not support the audio element.
        </audio>
    </div>
{% endmacro %}