{% from 'macros.html' import playlist_tracks_table %}
{% extends 'base.html' %} 
{% block title %}Playlist Inspector{% endblock %} 
{% block content %}

    <div class="container">
        <div class="row align-items-end mt-4 mb-4">
            {% if playlist.images %}
            <div class="col-3">
                <img class="playlist-img img-responsive" width="100%" src="{{playlist.images[0].url}}" alt="Image (usualy album art) for the playlist">
            </div>
            {% endif %}
            <div class="col-9">
                <div class="row">
                    <h1 class="display-4">{{ playlist.name }}</h1>
                </div>
            </div> 
        </div>
        
        {{ playlist_tracks_table(playlist.id) }}

    </div>

{% endblock %}
